body{
    overflow-x: hidden;

}

.parallax{
    position: absolute;
    height: 100%;
}

.parallax-item{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

        .p-item1{
            background: url(imges/background-stars.jpg) center/cover no-repeat;
        }
        .p-item2{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         color: white;
         text-align: center;
            z-index: 99999;
        }

        .p-item2 h1{
            color: white;
            letter-spacing: 2px;
            font-size: 50px;
            font-weight: 500;

        }
        .p-item2 img{
            width: 25%;
        }
        .p-item2 h1 span{
            font-weight: 700;
        }

        .p-item4{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            content: '';
            background: url(imges/cloud-3.png) no-repeat;
            background-size: contain;
            background-position: center;
            animation: marquee 2s linear infinite;
        }
        
        @keyframes marquee{
            0%{
                transform: translate(0,0,0);
            }
            20%{
                transform: translate(-50,0,0);
            }
            100%{
                transform: translate(-100,0,0);
            }
            100%{
                transform: translate(-150,0,0);
            }
            100%{
                transform: translate(-200,0,0);
            }
        }


.container-parallax-3d-hero{
    position: relative;
    z-index: 1;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 100vh;


}
.content-header-parallax-3d-hero{
    color: white;
    text-align: center;
    text-transform: uppercase;

}


.content-header-parallax-3d-hero h1{
    font-size: 120px;
    font-weight: 600;
    color: white;
  
}

.content-header-parallax-3d-hero h2{
    font-size: 30px;
    height: auto;
    margin-right: 40px;
}
.content-parallax-3d-hero img{

    width: 100%;
}